<mat-card class="blog-card">
  @if (post().coverImage) {
    <img mat-card-image [src]="post().coverImage" [alt]="post().title" class="cover-image">
  }
  
  <mat-card-header>
    <div mat-card-avatar class="author-avatar">
      @if (authorAvatar) {
        <img [src]="authorAvatar" [alt]="authorName">
      } @else {
        <mat-icon>person</mat-icon>
      }
    </div>
    <mat-card-title>{{ post().title }}</mat-card-title>
    <mat-card-subtitle>
      <span class="author">{{ authorName }}</span>
      <span class="separator">•</span>
      <span class="date">{{ post().publishedDate | date: 'mediumDate' }}</span>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p class="excerpt">{{ post().excerpt }}</p>
    
    <div class="tags">
      @for (tag of post().tags; track tag) {
        <mat-chip>{{ tag }}</mat-chip>
      }
    </div>

    <div class="meta">
      <span class="meta-item">
        <mat-icon>schedule</mat-icon>
        {{ post().readTime }} min read
      </span>
      <span class="meta-item">
        <mat-icon>favorite</mat-icon>
        {{ post().likes }}
      </span>
      <span class="meta-item">
        <mat-icon>visibility</mat-icon>
        {{ post().views }}
      </span>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <a mat-raised-button color="primary" [routerLink]="['/blog', post().id]">
      Read More
      <mat-icon>arrow_forward</mat-icon>
    </a>
  </mat-card-actions>
</mat-card>
